In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
#down one not working 
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('advertising.csv')

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
df.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [5]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [6]:
#corr is the co releation between data sets
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [7]:
x =df[['TV']]
y=df[['Sales']]
x,y

(        TV
 0    230.1
 1     44.5
 2     17.2
 3    151.5
 4    180.8
 ..     ...
 195   38.2
 196   94.2
 197  177.0
 198  283.6
 199  232.1

 [200 rows x 1 columns],
      Sales
 0     22.1
 1     10.4
 2     12.0
 3     16.5
 4     17.9
 ..     ...
 195    7.6
 196   14.0
 197   14.8
 198   25.5
 199   18.4

 [200 rows x 1 columns])

In [8]:
profile=ProfileReport(df)

In [9]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/16 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [11]:
#import smf

ModuleNotFoundError: No module named 'smf'

In [18]:
#lm=smf.ols(formula='Sales~ tv+radio+newspaper',data=df).fit()

SyntaxError: invalid syntax (4065573907.py, line 2)

In [16]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()

In [11]:
linear.fit(x,y)

LinearRegression()

In [12]:
#c or b
linear.intercept_

array([6.97482149])

In [13]:
#m
linear.coef_

array([[0.05546477]])

In [14]:
#accuracy
linear.score(x,y)

0.8121757029987414

In [15]:
tv_predicted_values=linear.predict(x)
df['tv_pred']=tv_predicted_values
df['tv_pred']

0      19.737265
1       9.443004
2       7.928816
3      15.377734
4      17.002852
         ...
195     9.093576
196    12.199603
197    16.792086
198    22.704630
199    19.848195
Name: tv_pred, Length: 200, dtype: float64